name: international_cunnibal
description: Neural Biofeedback Engine for Precision Oral Biomechanics and Sensory-Motor Synchronization
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  camera: ^0.11.3
  tflite_flutter: ^0.12.1
  vector_math: ^2.1.4
  path_provider: ^2.1.1
  permission_handler: ^12.0.1
  http: ^1.1.0
  intl: ^0.20.2
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/models/
